/* TASK-1 */

body {
  background-color: #48267d;
}
header {
  margin: 0;
  margin: 20px;
  box-shadow: 0px 2px 20px #371b63;
}

.burger-wrapper {
  background-color: #6841a5;
  border-radius: 10px;
  padding: 3px 15px;
  display: flex;
  align-items: center;
  /* height: 24px; */
}

.burger-menu {
  width: 30px;
  height: 24px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;

  margin-right: 20px;
}

.line {
  height: 5px;
  background-color: aliceblue;
  border-radius: 30%;
}

.close-btn:nth-child(1) {
  height: 5px;
  rotate: 45deg;
  margin-top: 11px;
  transition: 0.2s ease 0.1s;
}

.close-btn:nth-child(2) {
  height: 5px;
  visibility: hidden;
}

.close-btn:nth-child(3) {
  height: 5px;
  rotate: 135deg;
  margin-bottom: 11px;
  transition: 0.2s ease 0.1s;
}

p,
li {
  font-family: sans-serif;
  font-weight: 300;
  text-align: center;
  color: #c4aaed;
}

.burger-list {
  border-radius: 10px;
  margin-top: 10px;
  background-color: #ffffff;
  justify-content: space-evenly;
  display: flex;
}

.burger-list li {
  cursor: pointer;
  list-style: none;
}

.burger-list li:focus {
  font-weight: 600;
}

.disabled {
  display: none;
  transition: 1s ease-in;
  opacity: 100%;
}

/* TASK-2 */
.root-cursor {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  border: 2px solid;
  position: absolute;
  transition: 0.3s;
}
