* {
  font-family: system-ui, sans-serif;
}

html {
  color-scheme: light dark;
}

body {
  display: block;
  width: 100vw;
  height: 100vh;
}

.stopwatch {
  position: absolute;
  display: flex;
  left: 0;
  right: 0;
  width: 300px;
  height: auto;

  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;

  flex-direction: column;
  justify-content: center;
}

.stopwatch > h2 {
  font-size: 5em;
  font-family: system-ui, sans-serif;
  font-weight: 100;
  margin-left: 0px;
}

.buttons-wrapper {
  display: flex;
  margin-top: 2em;
  width: 100%;
  justify-content: space-between;
}
button {
  width: 75px;
  height: 75px;
  border-radius: 100%;
  border-color: chartreuse;
  background-color: transparent !important;
}

button[data-action="stop"],
button[data-action="reset"] {
  border-color: red;
}

button[data-action="pause"],
button[data-action="continue"] {
  border-color: orange;
}

.laps-wrapper {
  margin-top: 2em;
  width: 100%;
}

.laps-wrapper > p {
  padding-top: 1em;
}
