body {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: #6f737e;
}
.counter-block {
  margin-top: 100px;
  width: 500px;
  min-height: 200px;
  border-radius: 20px;
  box-shadow: 0 0 20px #00000043;
  background-color: #ebefff;
  padding: 50px;
}
.counter-add {
  display: flex;
}

.counter-calc {
  margin-top: 20px;
}

input {
  margin-right: 10px;
  display: inline-flex;
}
